<div class="outer-panel coc7-formatted-text flexcol">
  {{#if (eq coc7Config.step pages.PAGE_INTRODUCTION)}}
    {{!-- This page is mainly here to make cache population less obvious --}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/introduction.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_CONFIGURATION)}}
    {{!-- If you are a Keeper allow settings a default setup and allow character creation --}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/configuration.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_SETUPS)}}
    {{!-- If setup is not fixed for the world --}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/select-setup.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_ARCHETYPES)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/select-archetype.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_CHARACTERISTICS)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/set-characteristics.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_ATTRIBUTES)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/set-attributes.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_VIEW_ATTRIBUTES)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/view-attributes.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_OCCUPATIONS)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/select-occupation.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_OCCUPATION_SKILLS)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/set-occupation-skills.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_ARCHETYPE_SKILLS)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/set-archetype-skills.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_POINTS_SKILLS)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/points-skills.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_INVESTIGATOR)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/set-investigator.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_BACKSTORY)}}
    {{~> 'systems/cthulhud100/templates/apps/investigator-wizard/backstory.hbs'}}
  {{else if (eq coc7Config.step pages.PAGE_CREATE)}}
    {{> 'systems/cthulhud100/templates/apps/investigator-wizard/create.hbs'}}
  {{/if}}
</div>