<div class="panel flexcol">
  <h1>{{localize 'Cd100.InvestigatorWizard.TitleSelectSetup'}}</h1>
  <div class="scroll-section">
    <p>{{localize 'Cd100.InvestigatorWizard.SetupPage'}}</p>
    <div class="form-group">
      <label for="coc-setup">{{localize 'Cd100.InvestigatorWizard.SetupSelect'}}:</label>
      <select name="coc-setup">
        <option value="">&nbsp;</option>
        {{selectOptions setupOptions selected=coc7Config.setup valueAttr='key' labelAttr='name'}}
      </select>
    </div>
    {{#if coc7Config.setup}}
      {{{description}}}
    {{/if}}
  </div>
</div>