<div class="panel flexcol">
  <h1>{{localize 'Cd100.InvestigatorWizard.TitleSelectArchetype'}}</h1>
  <div class="scroll-section">
    <p>{{localize 'Cd100.InvestigatorWizard.ArchetypePage'}}</p>
    <div class="form-group">
      <label for="coc-archetype">{{localize 'Cd100.InvestigatorWizard.ArchetypeSelect'}}:</label>
      <select name="coc-archetype">
        <option value="">&nbsp;</option>
        {{selectOptions archetypeOptions selected=coc7Config.archetype valueAttr='key' labelAttr='name'}}
      </select>
    </div>
    {{#if coc7Config.archetype}}
      {{{description}}}
      <ul>
        <li>{{{localize 'Cd100.InvestigatorWizard.CoreCharacteristicName' coreCharacteristic=coreCharacteristic}}}</li>
        <li>{{{localize 'Cd100.InvestigatorWizard.AddBonusPointsToSkills' bonusPoints=bonusPoints skills=skills}}}</li>
        <li>{{{localize 'Cd100.InvestigatorWizard.SuggestedOccupations' suggested=suggestedOccupations}}}</li>
        <li>{{{localize 'Cd100.InvestigatorWizard.SuggestedTraits' suggested=suggestedTraits}}}</li>
      </ul>
    {{/if}}
  </div>
</div>