<div class="panel flexcol">
  <h1>{{localize 'Cd100.InvestigatorWizard.TitleArchetypeSkills'}}</h1>
  <div class="scroll-section">
    <div class="form-group">{{localize 'Cd100.InvestigatorWizard.ArchetypeDefaultSkills' count=max}}</div>
    <div class="skills flexcol">
      {{#each skillItems as |skill|}}
        {{#if (eq skill.group 'default')}}
          {{> 'systems/cthulhud100/templates/apps/investigator-wizard/toggle-skill.hbs' skill=skill toggleKey='archetypeToggle'}}
        {{/if}}
      {{/each}}
    </div>
    <div class="form-group">&nbsp;</div>
    <div class="form-group">{{localize 'Cd100.InvestigatorWizard.ArchetypeOptionalSkills'}}</div>
    <div class="skills flexcol">
      {{#each skillItems as |skill|}}
        {{#if (eq skill.group 'other')}}
          {{> 'systems/cthulhud100/templates/apps/investigator-wizard/toggle-skill.hbs' skill=skill toggleKey='archetypeToggle'}}
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="status-block">
    <div class="form-group status flexrow">
      <div class="icon">{{#if (eq selected max)}}<i class="fa-solid fa-circle-check"></i>{{else}}<i class="fa-solid fa-circle-xmark"></i>{{/if}}</div>
      <div>{{localize 'Cd100.InvestigatorWizard.SkillSpendArchetypeCountIncorrect' count=selected max=max}}</div>
    </div>
  </div>
</div>