<section class="sheet-header flexrow">
  <div class="token-extras flexrow">
    {{#if canDragToken}}
      <div draggable="true" class="token-drag-handle" data-tooltip="Cd100.ActorIsTokenHint" data-token-uuid="{{tokenUuid}}"><i class="fa-solid fa-user-circle"></i></div>
    {{/if}}
    {{#if linkedActor}}
      <div data-tooltip="Cd100.ActorDataLinked"><i class="fa-solid fa-link"></i></div>
    {{else}}
      <div data-tooltip="Cd100.ActorDataNotLinked"><i class="fa-solid fa-unlink"></i></div>
    {{/if}}
    {{#if isToken}}
      <div data-tooltip="Cd100.ActorIsSyntheticActor"><i class="game-icon game-icon-backup"></i></div>
    {{/if}}
  </div>
  <div class="flexrow item-header">
    <img class="profile-img" src="{{document.img}}" data-action="editImage" data-edit="img" />
    <div class="profile-details flexcol">
      <input type="text" name="name" value="{{document.name}}" placeholder="{{localize 'Cd100.Name'}}" />
      <input type="text" name="system.infos.type" value="{{document.system.infos.type}}" placeholder="{{localize 'Cd100.Type'}}" />
      <input type="text" name="system.infos.origin" value="{{document.system.infos.origin}}" placeholder="{{localize 'Cd100.Origin'}}" />
      <div class="flexrow">
        <label>{{localize 'Cd100.Crew'}}</label>
        <input type="text" name="system.crew.total" value="{{document.system.crew.total}}" />
      </div>
    </div>
    <div class="profile-details flexcol">
      <div class="flexrow">
        <label>{{localize 'Cd100.Movement'}}</label>
        <div>{{document.system.stats.mov}}</div>
        <label>{{localize 'Cd100.Build'}}</label>
        <div class="flexrow">
          <input type="text" name="system.stats.build.current" value="{{document.system.stats.build.current}}" />
          <div class="separator">/</div>
          <div>{{document.system.stats.build.value}}</div>
        </div>
      </div>
      {{#if document.system.stats.armor.localized}}
        <label>{{localize 'Cd100.ArmourPlating'}}</label>
        <div class="armor-locations flexrow">
          {{#each document.system.stats.armor.locations as |location|}}
            <div>{{location.name}}</div>
          {{/each}}
        </div>
        <div class="armor-locations flexrow">
          {{#each document.system.stats.armor.locations as |location|}}
            <div>{{location.value}}</div>
          {{/each}}
        </div>
      {{else}}
        <div class="flexrow">
          <label>{{localize "Cd100.Armor"}}</label>
          <span>{{document.system.stats.armor.value}}</span>
        </div>
      {{/if}}
      <div class="tags">
        {{#each _properties as |property|}}
          <span class="tag">{{property}}</span>
        {{/each}}
      </div>
    </div>
  </div>
</section>